@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Dosis");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav bar */
.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 33%;
    display: flex;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-dark {
    background: rgba(0, 0, 0, 0.9);
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
}

.nav-list li {
    text-decoration: none;
    list-style: none;
    padding: 25px 30px;
}


.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    text-decoration: none;
    color: grey;
}

.rightNav {
    width: 30%;
    text-align: right;
    padding: 0 23px;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid;
    border-radius: 10px;
}

.btn {
    padding: 18px 30px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: None;
    color: white;
    cursor: pointer;
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}

.btn a {
    color: white;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* end nav */

/* intro part */
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Didact Gothic", sans-serif;
    font-size: 1.1rem;
    color: #555;
    justify-content: center;
}

.wrapper {
    flex: 1 0 auto;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid #aaa;
}

#hero {
    background-image: linear-gradient(to RIGHT, rgba(0, 0, 0, 0.3), rgba(44, 101, 136, 0.5)), url("../media/Drafts/ocean_stock_013_by_malleni_stock_d27cbq8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    background-position: 50% 0%;
    height: 50rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#mainlogo {
    width: 25%;
    margin-right: 8rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.7;
}

#mainlogo img {
    border-radius: 5rem;
}

#heroText {
    color: white;
    margin-right: 10rem;
    width: 60rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
}

#heroText {
    padding: 0.5rem;
}

#heroTitle h2 {
    text-align: center;
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 5rem;
    line-height: 3rem;
    margin-top: 1rem;
}

#heroText p {
    padding: 0 3rem;
    font-size: 2rem;
    font-style: italic;
}

#heroText button {
    width: 10rem;
    background: rgba(0, 0, 0, 0.5);
    font-family: inherit;
    font-weight: bolder;
    font-size: 1.5rem;
    margin: 2rem;
    padding: 0.7rem 2.1rem;
    margin-bottom: 1rem;
    border: 0;
    border-radius: 10px;
    align-items: center;
    text-decoration: none;
}
#heroText a {
    color:cornflowerblue;
    text-decoration: none;
}
/* end intro */

/* content */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    height: 125rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "content"
        "content"
        "content";
    justify-items: center;
    background-image: linear-gradient(to RIGHT, rgba(0, 0, 0, 0.3), rgba(44, 101, 136, 0.5));
    border-top: 5px solid #aaa;
    border-bottom: 5px solid #aaa;
    /* background-color: #110000; */
    /* color: #ffffff; */
}

.title2 {
    padding: 1rem;
    color:rgb(0, 0, 44);
    margin-left: 2rem;
    font-size: 3rem;
    font-family: cursive;
    text-transform: capitalize;
    grid-area: title;
    /* text-align: center; */
    align-content: center;
    letter-spacing: 0.1rem;
    border-right-style:double;
    border-right-width: 1rem;
}

.title1 {
    padding: 1rem;
    color:rgb(0, 0, 44);
    margin-right: 3rem;
    font-size: 3rem;
    font-family: cursive;
    text-transform: capitalize;
    grid-area: title;
    /* text-align: center; */
    align-content: center;
    letter-spacing: 0.1rem;
    border-left-style:double;
    border-left-width: 1rem;
}
.content {
    grid-area: content;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    border-bottom: 5px solid #aaa;

}

.cardp1 {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    font-size: 2.25rem;
    padding: 3rem;
    font-style: italic;
    flex-direction: column;
    font-family:'Alice';
    font-weight: normal;
    letter-spacing: normal;
    text-align: justify;
    margin-inline: 3.5rem;
}
.cardp2 {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    padding: 3rem;
    font-size: 2.25rem;
    font-style: italic;
    flex-direction: column-reverse;
    font-family:'Alice';
    font-weight: normal;
    letter-spacing: normal;
    text-align: justify;
    margin-inline: 3.5rem;
}

.cardimg1 {
    
    width: 750px;
    height: 400px;
    flex-direction: column-reverse;
    object-fit: cover;
    margin-bottom: 1rem;
    margin-left: 5rem;
    border-radius: 61% 39% 60% 40% / 27% 65% 35% 73%;
    animation: change ease-in-out 5s infinite;
}

.cardimg2 {
    
    width: 750px;
    height: 400px;
    flex-direction: column;
    object-fit: cover;
    margin-bottom: 1rem;
    margin-right: 5rem;
    border-radius: 61% 39% 60% 40% / 27% 65% 35% 73%;
    animation: change ease-in-out 5s infinite;
}


@keyframes change {
    0% {
        border-radius: 61% 39% 60% 40% / 27% 65% 35% 73%;
    }

    25% {
        border-radius: 30% 70% 45% 55% / 78% 30% 70% 22%;
    }

    50% {
        border-radius: 11% 89% 22% 78% / 44% 33% 67% 56%;
    }

    75% {
        border-radius: 38% 62% 70% 30% / 78% 74% 26% 22%;
    }

    100% {
        border-radius: 61% 39% 60% 40% / 27% 65% 35% 73%;
    }
}
