*{
    margin:0;
    padding:0;
}

.logo{
    
}
.navbar{
    display: flex;
}

.nav-list{
    width:50%;
    background-color: yellow;
}

.nav-list li{
    
}

.nav-list li a{

}

.rightNav{
    background-color:blueviolet;
    width:50%;
    text-align: right;
}
