html {
    height: 100%;
    width: 100%;
  }
  
.laundrybody {
    background: url("../../media/Laundry.jpg")
      no-repeat center center fixed;
    background-size: cover;
    font-family: "Droid Serif", serif;
  }
  
  #container {
    background: #0e2c3b9f;
    width: 30rem;
    height: 33rem;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  header {
    text-align: center;
    vertical-align: middle;
    line-height: 5rem;
    height: 5rem;
    background: #082747;
    font-size: 2.5rem;
    color: #d3d3d3;
  }
  
  fieldset {
    border: 0;
    text-align: center;
  }

  input[type="submit"] {
    font-size: 1.25rem;
    background: rgba(235, 30, 54, 1);
    border: 0;
    display: block;
    width: 70%;
    margin: 0 auto;
    color: white;
    padding: 0.9rem;
    cursor: pointer;
  }
  
  input {
    background: transparent;
    font-size: 1rem;
    align-self: center;
    border: 0;
    width: 70%;
    border-left: 4px solid;
    border-color: #ff0000;
    padding: 25px;
    color: white;
  }
  
  input:focus { 
    outline: 0;
    background: #051c2376;
    border-radius: 1.2rem;
    border-color: transparent;
  }
  
  ::placeholder {
    color: #d3d3d3;
  }
  
  /*Media queries */
  
  @media all and (min-width: 481px) and (max-width: 568px) {
    #container {
      margin-top: 10%;
      margin-bottom: 10%;
    }
  }
  @media all and (min-width: 569px) and (max-width: 768px) {
    #container {
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }
  